

a {
  color: #00B7FF;
}

.btn-primary {
  background-color: #14325C;
  border: 0px solid;
}

.btn-primary:hover {
  background-color: #49688f;
  border: 0px solid;
}

.btn-primary:not( :hover ) {
  background-color: #49688f;
  border: 0px solid;
}

.btn-primary:active {
  background-color: #49688f;
  border: 0px solid;
}
