<!doctype html>
<html lang="en">
<head>
<%- include ("./headerscript.html") -%>
</head>

<style>
    .dropzone{
        border: solid 1px #ccc;
        border-radius: 5px;
    }
</style>
<body>
<%- include ("./header.html") -%>


    <div class="card-body">
        <div class="position-relative form-group" style="display: none; flex-direction: row">
            <div class="form-group" style="width: 30%;">
                <label>Project</label>
                <input id="project" value="<%=session.project %>" placeholder="Example: project-04930" type="text" class="form-control">
            </div>
            <div style="width: 10%"></div>
            <div class="form-group" style="width: 30%;">
                <label>Bucket</label>
                <input id="bucket"  value="<%=session.bucket %>" placeholder="Example : my-bucket" type="text" class="form-control">
            </div>
            <div style="width: 10%"></div>
            <div class="form-group" style="width: 30%;">
                <label>Folder</label>
                <input id="folder" value="<%=session.folder %>" placeholder="Example : my-folder" type="text" class="form-control">
            </div>

            <input type="hidden" id="orgname" value="<%=session.orgname %>" />
            <input type="hidden" id="user" value="<%=session.user %>" />
            <input type="hidden" id="firstname" value="<%=session.firstname %>" />
            <input type="hidden" id="lastname" value="<%=session.lastname %>" />
            <input type="hidden" id="totalFolderLevel" value="<%=session.totalFolderLevel %>" />
            <input type="hidden" id="folderTitles" value="<%=session.folderTitles %>" />
            <input type="hidden" id="project" value="<%=session.project %>" />
            <input type="hidden" id="bucket" value="<%=session.bucket %>" />
        </div>

        <div class="position-relative form-group" style="display: flex; flex-direction: row; height: 10%">
            You are login as : <%=session.user%>
        </div>


        <div id="folder-container" class="position-relative form-group" style="display: flex; flex-direction: row">
            <div class="form-group" style="width: 30%;">
                <label>Folder</label>
                <select id="cmb-folders" class="form-control select2" style="width: 100%;">
                    <option value="finance_and_sales">Finance and Sales</option>
                    <option value="kpi_monitoring">KPI Monitoring</option>
                </select>
           </div>
            <div style="width: 10%"></div>
            <div class="form-group" style="width: 30%;">
                <label>Subfolder</label>
                <select id="cmb-subfolders" class="form-control select2" style="width: 100%;">
                </select>            
            </div>
        </div>

        <div class="position-relative form-group">
            <label for="appname" class="">Drag drop the files (or click to open files)</label>
            <form   id="myDropzone" action="/file-upload" class="dropzone">
                <div class="fallback">
                  <input name="file" type="file" multiple />
                </div>
            </form>
            <div class="position-relative form-group">
                <button id="btn-clear" type="button" class="btn btn-block btn-primary">Clear</button>
            </div>
        </div>

        <div style="height: 50px">

        </div>
        <div style="width: 100%; border: solid 1px #ccc"></div>
        <div style="padding: 5px; font-weight: bold;">
            List of files
        </div>
        <div style="width: 100%; border: solid 1px #ccc"></div>

        <div style="padding: 15px; width: 100%; align-items: right; text-align: right">
            <button style="background-color: #14325C; color: #fff; border: solid 0px; width: 200px; height: 30px" onclick="deleteFiles()">Delete</button>
        </div>
        

        <table id="datatable"></table>

    </div>

<%- include ("./footer.html") -%>
</body>

<script>

console.log("<%=sessionJson %>");

var FOLDERDATA = null;

function deleteFolder(level)
{
    let path = "";
    for (var i = 0; i <= level; i++)
    {
        if(path == "")
            path = $("#cmb-folder-" + i ).val();
        else
            path = path + "/" + $("#cmb-folder-" + i ).val();
    }

    deleteFolderRecursive(path, FOLDERDATA, "");

    console.log(FOLDERDATA);

    var b64 = btoa(JSON.stringify(FOLDERDATA));
    $("#loader").show();
    $.get("/config/update-by-key/GCS_FOLDER_STRUCTURE/" + b64,  function (response)
    {
        init();
        //console.log(response);
        $("#loader").hide();
    });
}

function deleteFolderRecursive(path, folders, currentPath)
{
    let removedIdx = -1;
    folders.map((item, idx) => {

        let curpath = "";
        if(currentPath == "")
            curpath = item.folder;
        else 
            curpath = currentPath + "/" + item.folder;

        console.log(curpath + " === " + path)
        if(String(curpath) == String(path))
        {
            console.log("ger")
            removedIdx = idx;
            folders.splice(removedIdx, 1);
            console.log(folders)
            
        }
        else {            

            //console.log(item.subFolders)
            if(item.subFolders != null)
                deleteFolderRecursive(path, item.subFolders, curpath);
        }
    })

    //if(removedIdx > -1)
    //    folders.splice(removedIdx, 1);
}

function getFolderData(callback)
{
    var url = "/upload/gcs/folders";

    $("#loader").show();
    $.get(url, function(response){
        
        var folders = JSON.parse(response.payload);
        console.log(folders);
        FOLDERDATA = folders;
        $("#loader").hide();
        if(callback != null)
            callback(folders)
    })
}

function setFolderAndSubFolder() 
{
    var totalFolderLevel = $("#totalFolderLevel").val();
    var folder = "";
    for(var i = 0; i < totalFolderLevel; i++)
    {   
        folder += $("#cmb-folder-" + i).val() + "/"
    }
    if(folder.length > 0)
        folder = folder.substring(0, folder.length - 1)
    $("#folder").val(folder)
}


var message = "";
var error = false;
var popUpError = false;
Dropzone.options.myDropzone = {
    init: function() {
        this.on("processing", function(file) {
            setFolderAndSubFolder();
            this.options.url = getUrl();
            message = "";
            error = false;
            popUpError = false;
            
        });

        this.on("complete", function(file) {
            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                if(error == false)
                {
                    loadGcsObjects();
                    window.popWindow.dialog("Upload complete", "Validation" );
                }
                else
                {
                    window.popWindow.dialog(message, "Validation" );

                }
            }

        });

        this.on("success", function(file, response) {
            console.log(response);
            console.log(file)

            if(response.success == false)
            {
                //window.popWindow.dialog("Error: " + response.message, "Validation" );
                error = true;
                $('.dropzone')[0].dropzone.files.forEach(function(item) { 
                    if(file.name == item.name)
                    {
                        message += response.message + " : '" + item.name + "'<br>"; 
                        item.previewElement.remove(); 
                    }
                });
            }
            else {
                error = false;
                
            }
        })
    }
};

function  init()
{
    $("#loader").show();
    getFolderData(function(folders){
        $("#loader").hide();
        FOLDERDATA = folders;
        fillAllFolders(folders);
    })
}

    $(document).ready(function() {
        
        createFolderComboboxs();
        init();

        /*getFolderData(function(folders){

            $("#btn-clear").click(function(){
                Dropzone.forElement('#myDropzone').removeAllFiles(true)
            });

            setFolder();
            setSubFolder();
            loadGcsObjects();
            
            $("#cmb-folders").on("change", function(){
                setSubFolder();
                loadGcsObjects();
            });

            $("#cmb-subfolders").on("change", function(){
                loadGcsObjects();
            });
        })*/


    });

    function createFolderComboboxs()
    {
        $("#folder-container").html("");
        var totalFolderLevel = $("#totalFolderLevel").val();
        for(var i = 0; i < totalFolderLevel; i++)
        {
            let html = createFolderCombo(i);
            $("#folder-container").append(html);
        }
    }

    function createFolderCombo(level)
    {
        var titles = $("#folderTitles").val();
        titles = JSON.parse(titles);
        console.log(titles);

        var html = "<div class=\"form-group\" style=\"width: 30%;\">" +
                "<label>" + titles[level] + " (<A href='javascript:showAddFolder(" + level + ")'>Add</A>&nbsp;|&nbsp;<A href='javascript:deleteFolder(" + level + ")'>Remove</A>)</label>" +
                "<select id=\"cmb-folder-" + level + "\" class=\"form-control select2\" style=\"width: 100%;\">" +
                    "</select>" +
                    "</div><div style='width: 10px'></div>";
        return html;
    }

    function fillAllFolders(folders)
    {
        var level = 0;
        var totalFolderLevel = $("#totalFolderLevel").val();
        fillFolder(0, folders);
    }

    var SEARCHPATH = "";
    var CURRENTPATH = "";

    function showAddFolder(level)
    {
        var folder = prompt("Add folder name");
        if(folder  != null && folder.length > 0)
        {
        
            var addedFolder = { folder: folder, text: folder }
            var parentFolder = $("#cmb-folder-" + (level - 1)).val();

            SEARCHPATH = "";
            for(var i = 0; i < level; i++)
            {
                SEARCHPATH +=  $("#cmb-folder-" + i).val() + "/";
            }
            
            if(SEARCHPATH.length > 0)
                SEARCHPATH = SEARCHPATH.substring(0, SEARCHPATH.length - 1)
            addFolderByParentAndLevel(0, (level - 1), parentFolder, addedFolder, FOLDERDATA, "" );
        }
    }

    function getCurrentPath(level)
    {
        var currentPath = "";
        var totalFolderLevel = $("#totalFolderLevel").val();
        for(var i = 0; i < level; i++)
        {
            currentPath +=  $("#cmb-folder-" + i).val() + "/";
        }
        
        if(currentPath.length > 0)
            currentPath = currentPath.substring(0, currentPath.length - 1);

        return currentPath;
    }


    function addFolderByParentAndLevel(currentLevel, level, folder, addedFolder, folders, currentPath)
    {
        if(folder == null)
        {
            folders.push(addedFolder);

            var b64 = btoa(JSON.stringify(folders));

            $("#loader").show();
            
            $.get("/config/update-by-key/GCS_FOLDER_STRUCTURE/" + b64,  function (response)
            {
                let ffolder = getCurrentPath(level + 1) + "/" + addedFolder.folder;
                gcsCreateFolder(ffolder, (response)=>{
                    init();
                    $("#loader").hide();
                    console.log(response);
                });

            });
        }
        else
        {
           
            if(folders != null)
            {
                //alert(folders)

                folders.map((item, idx) => {
                    var ccPath = currentPath + "/" + item.folder;
                    if(currentPath == "")
                        ccPath = item.folder;
                    //alert(SEARCHPATH + " - " + ccPath)
                    if(SEARCHPATH == ccPath && currentLevel == level)
                    {
                        //alert(item.folder)
                        if(item.subFolders == null)
                            item.subFolders = [];
                        item.subFolders.push(addedFolder);

                        var b64 = btoa(JSON.stringify(FOLDERDATA));
                        $("#loader").show();
                        $.get("/config/update-by-key/GCS_FOLDER_STRUCTURE/" + b64,  function (response)
                        {
                            let ffolder = getCurrentPath(level + 1) + "/" + addedFolder.folder;
                            gcsCreateFolder(ffolder, (response)=>{
                                init();
                                console.log(response);
                                $("#loader").hide();
                            });
                        });
                    }
                    else if(currentLevel <= level)
                    {
                        //alert(currentLevel + " - " + level + " - " + item.folder + " - " + folder)
                        addFolderByParentAndLevel(currentLevel + 1, level, folder, addedFolder, item.subFolders, ccPath);
                    }
                        
                })

            }


        }
    }

    function fillFolder(level, folders)
    {
        var totalFolderLevel = parseInt( $("#totalFolderLevel").val());
        if(level < totalFolderLevel)
        {
            $("#loader").show();
            console.log("#cmb-folder-" + level)
            $("#cmb-folder-" + level).html("");
            $("#cmb-folder-" + level).attr("level", level);

            if(folders != null)
            {
                folders.map((item, idx) => {
                    console.log(item)
                    $("#cmb-folder-" + level).append("<option value='" + item.folder + "'>" + item.text + "</option>")
                });

                $("#loader").hide();
            }
            
            $("#cmb-folder-" + level).unbind("change");
            $("#cmb-folder-" + level).on("change", function()
            {
                var value = $(this).val();
                var selected = null;
                if(folders != null)
                {
                    folders.map((item)=>{
                        if(item.folder == value)
                        {
                            selected = item;
                        }
                    });
                }
                var level = parseInt( $(this).attr("level"));

                console.log("onchange #cmb-folder-" + level);
                
                var totalFolderLevel = parseInt( $("#totalFolderLevel").val());
                if(level == totalFolderLevel - 1)
                {
                    //alert(level)
                    loadGcsObjects();
                }
                
                if(level < totalFolderLevel)
                {

                    //if(selected.subFolders != null)
                    if(selected != null)
                        fillFolder(level + 1, selected.subFolders );
                    else
                        fillFolder(level + 1, null   );
                }
            });

            $("#cmb-folder-" + level).trigger("change");

        }


    }



    function setFolder()
    {
        $("#cmb-folders").html("");
        FOLDERDATA.map((item, idx) => {
            $("#cmb-folders").append("<option value='" + item.folder + "'>" + item.text + "</option>")
        
        })
    }

    function setSubFolder()
    {
        var folder = $("#cmb-folders").val();
        var subFolders = [];

        $("#cmb-subfolders").html("");
        FOLDERDATA.map((item, idx) => {
            if(item.folder == folder)
            {
                subFolders = item.subFolders;
            }
        })

        subFolders.map((item, idx) => {
            $("#cmb-subfolders").append("<option value='" + item.folder + "'>" + item.text + "</option>")
        })
    }

    function gcsCreateFolder(folder, callback)
    {
        var project = $("#project").val();
        var bucket = $("#bucket").val();
        folder = encodeURIComponent(folder);
        

        $.get("/upload/gcs/create-folder/" + project + "/" + bucket + "/" + folder, function(response){
            if(callback != null)
                callback(response)
        })
    }

    function getUrl()
    {
        var project = $("#project").val();
        var bucket = $("#bucket").val();
        var folder = $("#folder").val();
        var orgname = encodeURIComponent($("#orgname").val());
        var user = $("#user").val();
        var firstname = $("#firstname").val();
        var lastname = $("#lastname").val();
        folder = encodeURIComponent(folder);

        var url = "/upload/gcs/" + project + "/" + bucket + "/" + folder + "?user=" + user + "&orgname=" + orgname;
        console.log(url);
        return url;
    }

    var table  = null;
    function loadGcsObjects()
    {
        $("#loader").show();
        setFolderAndSubFolder();
        var project = $("#project").val();
        var bucket = $("#bucket").val();
        var folder = $("#folder").val();
        folder = encodeURIComponent(folder);

        var url = "/upload/gcs-list/" + project + "/" + bucket + "/" + folder;
        console.log(url);
        $.get(url, function(data){
            console.log(data);

            $("#loader").hide();

            let items = data.payload;
            if(items != null)
            {
                for(var i = 0; i < items.length;i++)
                {
                    var item = items[i];
                    item.ext = "<input type='checkbox' name='file' value='" + item.name + "''>"; 
                }

                if(table != null)
                    table.destroy();

                table = $("#datatable").DataTable({
                    data: data.payload,
                    columns: [
                        { title: 'Name', data: 'name' },
                        { title: 'Time', data: 'metadata.timeCreated' },
                        { title: '', data: 'ext' }
                    ]
                })
            }
        })
    }

    function deleteFiles()
    {
        var files = [];
        $.each($("input[name='file']:checked"), function(){

            files.push(encodeURIComponent($(this).val()));
        });

        var filenames = files.join(";");
        console.log(filenames);

        setFolderAndSubFolder();
        var project = $("#project").val();
        var bucket = $("#bucket").val();

        $("#loader").show();
        var url = "/upload/gcs-delete/" + project + "/" + bucket + "/" + filenames;
        console.log(url);
        $.get(url, function(response){
            console.log(response);
            $("#loader").hide();
            setTimeout(function(){
                loadGcsObjects();
            }, 2000)
            
        });

    }



</script>
</html>


